/*
* @Author: 何佩莉
* @Date:   2017-12-19 16:51:27
* @Last Modified by:   何佩莉
* @Last Modified time: 2017-12-22 16:30:37
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size:26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}